@import "col.scss";

@font-face {
	font-family: TF2;
	src: url('/res/font/TF2.ttf');
}

@font-face {
	font-family: TF2 Secondary;
	src: url('/res/font/TF2 Secondary.ttf');
}

@font-face {
	font-family: TF2 Build;
	src: url('/res/font/TF2 Build.ttf');
}

body {
	background: $sec;
}

.btn {
	min-width: 40px;
	min-height: 40px;
	padding: 10px;
	border-radius: 6px;
	background: $sec;
	color: $tert;
	line-height: 40px;
	font-family: TF2 Build;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

#enter {
	background: #BA3435;
}

#keyPad {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	background: $prim;
	width: 240px;

	* {
		 margin: 10px;
	}

	#enter {
		flex-grow: 1;
	}
}
