@import "col.scss";
@import "font.scss";
@import "layout.scss";

body {
	background: $sec;
}

.btn {
	min-width: 40px;
	min-height: 40px;
	padding: $pad;
	border-radius: 6px;
	background: $sec;
	color: $tert;
	line-height: 40px;
	font-family: TF2 Build;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	box-shadow: 0px 4px 0px 0px #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	&:active {
		box-shadow: 0px 0px 0px 0px #000;
	}

	img	{
		height: 50px;
	}
}

#enter {
	background: $redAlt;
}

#unit {
	display: inline-block;
	margin: $margin;
	background: $prim;
	border-radius: 4px;

	#head {
		padding: $pad;
		font-size: 60px;
		font-family: Arial;
		font-weight: bold;
		font-style: italic;
		color: $tert;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#scr {
		font-family: OCR-A;
		height: 30px;
		font-size: 30px;
		background: rgb(0, 180, 0);
		padding: $pad;
		color: green;
		opacity: 0.4;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#keyPad {
		display: flex;

		#no,
		#pure,
		#op {
			display: flex;
			flex-wrap: wrap;
			padding: $pad;

			* {
			 margin: $margin;
			}

			.pure,
			#enter,
			#clr {
				 flex-grow: 1;
			}
		}

		#no {
			width: 192px;
		}

		#pure,
		#op {
			margin-left: 10px;
			height: 0;
		}

		#op {
			margin-left: 20px;
			width: 128px;
		}
	}
}
