@import "col.scss";
@import "font.scss";
@import "layout.scss";

body {
	background: $sec;
}

.btn {
	min-width: 40px;
	min-height: 40px;
	padding: $pad;
	border-radius: 6px;
	background: $sec;
	color: $tert;
	line-height: 40px;
	font-family: TF2 Build;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

#enter {
	background: #BA3435;
}

#keyPad {
	display: flex;
	flex-wrap: wrap;
	padding: $pad;
	background: $prim;
	width: 192px;

	* {
		 margin: $margin;
	}

	#enter {
		flex-grow: 1;
	}
}
