@font-face {
	font-family: TF2;
	src: url('/res/font/TF2.ttf');
}

@font-face {
	font-family: TF2 Secondary;
	src: url('/res/font/TF2 Secondary.ttf');
}

@font-face {
	font-family: TF2 Build;
	src: url('/res/font/TF2 Build.ttf');
}

@font-face {
	font-family: OCR;
	src: url('/res/font/OCR-A.ttf');
}
